<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Skincare Heaven</h1>
        <p>Your go-to guide for radiant skin</p>
    </header>

    <div class="add-product-button-container">
        <a href="{{ url_for('add_product') }}" class="add-product-button">Add Product</a>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <a class="update-link" href="{{ url_for('update_product', id=product.id) }}">Update</a>
                        <a class="delete-link" href="{{ url_for('delete_product', id=product.id) }}" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>



